{% extends 'oficiales/of_main.html' %}

{% load static %}


{% block content %}

<main class="calendar_container">
    <h3 class="cal_title">Calendario</h3>
    <section class="calendar_card">
        {% for game in games %}
        <h4 class="card_title">{{game.fecha}} - {{game.horario}}</h4>
        <div class="calendar_gamecard">
            <div class="gamecard-team">
                <p>{{game.local}}</p>
                <img loading="lazy" src="{% static 'oficiales/images/icons/cruzados_logo.png' %}" alt="logo_cruzados">
            </div>
            <p>VS</p>
            <div class="gamecard-team">
                <p>{{game.visitante}}</p>
                <img loading="lazy" src="{% static 'oficiales/images/icons/jabalies_logo.png' %}" alt="logo_jabalies">
            </div>
        </div>
        {% endfor %}
    </section>

</main>


{% endblock %}