<h3>Julio</h3>
<p>fecha 5 - 01 de Julio</p>
{% if date_strings.8 > today %}
    
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        
        <label for="oficial-name">
            {{form.oficial}}
        </label>
        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="partido1">LEG vs JAB
                {{form.partido1}}
            </label>
        </div>

        {{ form.game_date.as_hidden }}

        <div class="disp_form-games">
            <p>2do partido -15.30hs</p>
            <label for="partido2">CRU vs TIB
                {{form.partido2}}
            </label>
        </div>
        <input type="submit" value="Ok"class="disp-btn">
    </form>
{% else %}
    <h3 class="form-message">Fecha completada</h3>
{% endif %}

<p>fecha 6 - 15 de Julio</p>
{% if date_strings.10 > today %}
    
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        
        <label for="oficial-name">
            {{form.oficial}}
        </label>
        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="partido1">LEG vs JAB
                {{form.partido1}}
            </label>
        </div>

        {{ form.game_date.as_hidden }}

        <div class="disp_form-games">
            <p>2do partido -15.30hs</p>
            <label for="partido2">CRU vs TIB
                {{form.partido2}}
            </label>
        </div>
        <input type="submit" value="Ok"class="disp-btn">
    </form>
{% else %}
    <h3 class="form-message">Fecha completada</h3>
{% endif %}

<p>fecha 7 - 22 de Julio</p>
{% if date_strings.12 > today %}
   
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        
        <label for="oficial-name">
            {{form.oficial}}
        </label>
        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="partido1">LEG vs JAB
                {{form.partido1}}
            </label>
        </div>

        {{ form.game_date.as_hidden }}

        <div class="disp_form-games">
            <p>2do partido -15.30hs</p>
            <label for="partido2">CRU vs TIB
                {{form.partido2}}
            </label>
        </div>
        <input type="submit" value="Ok"class="disp-btn">
    </form>
 {% else %}
    <h3 class="form-message">Fecha completada</h3>
{% endif %}

<p>fecha 8 - 29 de Julio</p>
{% if date_strings.14 > today %}
    
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        
        <label for="oficial-name">
            {{form.oficial}}
        </label>
        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="partido1">LEG vs JAB
                {{form.partido1}}
            </label>
        </div>

        {{ form.game_date.as_hidden }}

        <div class="disp_form-games">
            <p>2do partido -15.30hs</p>
            <label for="partido2">CRU vs TIB
                {{form.partido2}}
            </label>
        </div>
        <input type="submit" value="Ok"class="disp-btn">
    </form>
{% else %}
    <h3 class="form-message">Fecha completada</h3>
{% endif %}