
<h3>Mayo / Junio</h3>

<p>fecha 1 - 20 de Mayo</p>
{% if date_strings.0 > today %}
    <h3 class="form-message">Fecha completada</h3>
{% else %}
    
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        
        <label for="oficial-name">
            {{form.oficial}}
        </label>
        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="partido1">LEG vs JAB
                {{form.partido1}}
                
            </label>
        </div>

        {{ form.game_date.as_hidden }}

        <div class="disp_form-games">
            <p>2do partido -15.30hs</p>
            <label for="partido2">CRU vs TIB
                {{form.partido2}}
                
            </label>
        </div>
    
        <input type="submit" value="Ok"class="disp-btn">
    </form>

{% endif %}

<p>fecha 2 - 03 de Junio</p>
{% if date_strings.2 > today %}
    <h3 class="form-message">Fecha completada</h3>
{% else %}
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        <p>{{form.oficial}}</p>

        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="games">JAB vs COR
                {{form.partido1}}
                
            </label>
        </div>
        <div class="disp_form-games">
            <p>2do partido -15.30hs</p>
            <label for="games">LEG vs OSP
                {{form.partido2}}
                
            </label>
        </div>
        <input type="submit" value="Ok" class="disp-btn">
    </form>

{% endif %}


<p>fecha 3 - 10 de Junio</p>
{% if date_strings.4 > today %}
    
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        <p>{{form.oficial}}</p>
        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="games">OSP vs CRU
                {{form.partido1}}
            </label>
        </div>
        <div class="disp_form-games">
            <p>2do partido - 15.30hs</p>
            <label for="games">COR vs TIB
                {{form.partido2}}
            </label>
        </div>
        <input type="submit" value="Ok" class="disp-btn">
    </form>
{% else %}
    <h3 class="form-message">Fecha completada</h3>
{% endif %}


<p>fecha 4 - 24 de Junio</p>
{% if date_strings.6 > today %}
    
    <form action="" method="POST" class="disp_form">
        {% csrf_token %}
        <p>{{form.oficial}}</p>
        <div class="disp_form-games">
            <p>1er partido - 13hs</p>
            <label for="games">TIB vs JAB
                {{form.partido1}}
            </label>
        </div>
        <div class="disp_form-games">
            <p>2do partido - 15.30hs</p>
            <label for="games">CRU vs LEG
                {{form.partido2}}
            </label>
        </div>
        <input type="submit" value="Ok" class="disp-btn">
    </form>
{% else %}
    <h3 class="form-message">Fecha completada</h3>
{% endif %}