{% load static %}
<footer class="footer__section" id="footer">
    <section class="teams">
      <h3>Equipos</h3>
      <ul class="teams__list-links">
        <li class="teams-item">
          <a href="https://www.instagram.com/corsariosfa/" target="_blank" rel="noopener noreferrer" title="Instagram Corsarios">
            <img loading="lazy" src="{% static 'oficiales/images/icons/corsarios_logo.png' %}" alt="logo_corsarios">
          </a>
        </li>
        <li class="teams-item">
          <a href="https://www.instagram.com/cruzadosfa/" target="_blank" rel="noopener noreferrer" title="Instagram Cruzados">
            <img loading="lazy" src="{% static 'oficiales/images/icons/cruzados_logo.png' %}" alt="logo_cruzados">
          </a>
        </li>
        <li class="teams-item">
          <a href="https://www.instagram.com/jabalies.fa/" target="_blank" rel="noopener noreferrer" title="Instagram Jabalies">
            <img loading="lazy" src="{% static 'oficiales/images/icons/jabalies_logo.png' %}" alt="logo_jabalies">
          </a>
        </li>
        <li class="teams-item">
          <a href="https://www.instagram.com/legionariosfootball/" target="_blank" rel="noopener noreferrer" title="Instagram Legionarios">
            <img loading="lazy" src="{% static 'oficiales/images/icons/legionarios_logo.png' %}" alt="logo_legionarios">
          </a>
        </li>
        <li class="teams-item">
          <a href="https://www.instagram.com/osospolaresfootball/" target="_blank" rel="noopener noreferrer" title="Instagram Osos Polares">
            <img loading="lazy" src="{% static 'oficiales/images/icons/osopolares_logo.png' %}" alt="logo_osospolares">
          </a>
        </li>
        <li class="teams-item">
          <a href="https://www.instagram.com/tiburonesfa/" target="_blank" rel="noopener noreferrer" title="Instagram Tiburones">
            <img loading="lazy" src="{% static 'oficiales/images/icons/tiburones_logo.png' %}" alt="logo_tiburones">
          </a>
        </li>
      </ul>
    </section>
    <section class="faba">
      <h3>Faa</h3>
      <ul class="faarg__links-list">
        <li class="faarg-links">
          <a href="https://www.facebook.com/FAARGONLINE" target="_blank" rel="noopener noreferrer" title="Ir a FAARG">
            <img loading="lazy" src="{% static 'oficiales/images/icons/facebook_icon.png' %}" alt="Facebook_FAARG">
          </a>
        </li>
        <li class="faarg-links">
          <a href="https://www.instagram.com/fabaonline/" target="_blank" rel="noopener noreferrer" title="Ir a FABA">
            <img loading="lazy" src="{% static 'oficiales/images/icons/instagram_icon.png ' %}" alt="Instagram_FABA">
          </a>
        </li>
        <li class="faarg-links">
          <a href="https://twitter.com/FABAonline_" target="_blank" rel="noopener noreferrer" title="Ir a FABA">
            <img loading="lazy" src="{% static 'oficiales/images/icons/twitter_icon.png ' %}" alt="Twitter_FABA">
          </a>
        </li>
      </ul>
    </section>
    <p>Todos los derechos reservados 2022 &#174;</p>
  </footer>