{% load static %}
<header class="main__header">
    <ul class="main__header-logos">
      <li class="item logos">
        <img src="{% static 'oficiales/images/ifaf_logo_nbg.webp' %}" alt="IFAF_logo">
      </li>
      <li class="item logos">
        <img src="{% static 'oficiales/images/logo_dafaa_nbg.webp' %}" alt="DAFAA_logo">
      </li>
      <li class="item title">
        <h1 class="main__header-title">Oficiales FAArg</h1>
      </li>
      <li class="item logos">
        <img src="{% static 'oficiales/images/faba_logo.webp' %}" alt="FABA_logo">
      </li>
      <li class="item logos">
        <img src="{% static 'oficiales/images/faarg_logo.webp' %}" alt="FAARG_logo">
      </li>
    </ul>
    

    
</header>
<navbar class="nav_links">
    <span class="nav_links-btn">
      <i class="fa-solid fa-bars"></i>
    </span>
    <ul class="nav_links-list">
      {% comment %} <li class="list_item nav_links-btn">
      <i class="fa-solid fa-bars "></i>

      </li> {% endcomment %}
      <li class="list_item">
        <a class="list_item-link" href="{% url 'home' %}">Home</a>
      </li>
      {% comment %} <li class="list_item">
        <a class="list_item-link" href="{% url 'inscription' %}">Inscripcion</a>
      </li> {% endcomment %}
      <li class="list_item">
        <a class="list_item-link" href="">Descargas</a>
      </li>
      <li class="list_item">
        <a class="list_item-link" href="{% url 'calendar' %}">Calendario</a>
      </li>
      {% comment %} <li class="list_item">
        <a class="list_item-link" href="{% url 'available' %}">Disponibilidad</a>
      </li>  {% endcomment %}
        {% comment %} {% if request.user.is_staff %} {% endcomment %}
      <li class="list_item">
        <a class="list_item-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
      <li class="list_item">
        <a class="list_item-link" href="{% url 'designations' %}">Designaciones</a>
      </li>
      <li class="list_item">
        <a class="list_item-link" href="{% url 'reviews' %}">Revisiones</a>
      </li>
      {% comment %} {% endif %} {% endcomment %}
      <li class="list_item">
          
      </li>
    </ul>
    <div class="user-links">
      <ul class="user_list">
        {% if user.is_authenticated %}

          
          <li class="list_item user">
            <p>Hola, {{request.user.oficiales.name}}</p>
          </li>
          <li class="list_item user">
            <a class="user-profile" href="{% url 'acc_settings' %}">perfil</a>
          </li>
          
          <li class="list_item">
            <a class="list_item-link" href="{% url 'available' oficial.id %}">Disponibilidad</a>
          </li>
          {% comment %} <li class="list_item">
            <a class="list_item-link" href="{% url 'officials' pk_test %}">Partidos</a>
          </li> {% endcomment %}
          
          <li class="list_item">
            <a href="{% url 'logout' %}" title="logout"><i class="fa-solid fa-right-from-bracket"></i></a>
          </li>

          {% else %}
          <li class="list_item user">
            <a class =user-profile-link href="{% url 'loginPage' %}">Login<i class="fa-solid fa-right-to-bracket"></i></a>
          </li>

          {% endif %}

      </ul>
  </div>
</navbar>