{% extends 'oficiales/of_main.html' %}

{% load static%}

{% block content %}

{% comment %} {% include 'oficiales/status.html' %} {% endcomment %}

<main class="dashboard-container">
    <section class="oficial_cards">
        <div class="cards ">
            <div class="card-header fCard">
                <h5 class="co-title">Oficiales disponibles</h5>
            </div>
            <div class="card-body fbc">
                <h5 class="co-title">{{available}}</h5>
            </div>
        </div>
        <div class="cards ">
            <div class="card-header fCard">
                <h5 class="co-title">Oficiales No disponibles</h5>
            </div>
            <div class="card-body fbc">
                <h5 class="co-title">{{not_available}}</h5>
            </div>
        </div>
    </section>
    <section class="of_container">
        
        <h5 class="of_title">Oficiales confirmados</h5>
        <div class="of_section">
            {% comment %} <a href="#"><button type="button"   class="co-btn">Create Customers</button></a> {% endcomment %}
            {% comment %} <a href="#"   class="co-btn">Create Customers</a> {% endcomment %}
            <table class="dash_table">
                <tr>
                    <th>Oficiales</th>
                    <th>1er Partido</th>
                    <th>2do Partido</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>

                {% for i in availability %}

                    <tr>
                        <td>{{i.oficial}}</td>
                        <td>{{i.partido1}}</td>
                        <td>{{i.partido2}}</td>
                        {% comment %} <td>{{i.date_informed}}</td> {% endcomment %}
                        {% comment %} <td><a class="btn btn-info" href="">Update</a></td> {% endcomment %}
                        <td>
                            <a class="btn btn-info" href="{% url 'update_available' pk=i.id %}" title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        {% comment %} <td><a class="btn btn-danger" href="">Delete</a></td> {% endcomment %}
                        <td>
                            <a class="btn btn-danger" href="" title="Edit"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                
                    {% endfor %}
            </table>
        </div>
    </section>

    <div class="cards ">
        <div class="card-header sCard">
            <h5 class="co-title">Total Inscriptos</h5>
        </div>
        <div class="card-body sbc">
            <h5 class="co-title">{{total_newRecruits}}</h5>
        </div>
    </div>

    <section class="insc_container">
        <h5 class="insc_title">Inscriptos</h5>
        <div class="orders-section">
            {% comment %} <a href="{% url 'create_order' %}"><button type="button"   class="co-btn">Create Orders</button><a> {% endcomment %}
            {% comment %} <a href="{% url 'create_order' %}" class="co-btn">Create Orders</a> {% endcomment %}
            <table class="dash_table">
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Reglas</th>
                    <th>Entendimiento</th>
                    <th>Conocimiento</th>
                </tr>

                {% for recruits in newRecruits %}

                <tr>
                    <td>{{recruits.name}}</td>
                    <td>{{recruits.email}}</td>
                    <td>{{recruits.rules}}</td>
                    <td>{{recruits.game}}</td>
                    <td>{{recruits.rules_knowledge}}</td>
                </tr>

                {% endfor %}
                
            </table>
        </div>
    </section>


</main>


{% endblock %}