{% extends 'oficiales/of_main.html' %}

{% load static %}

{% block content %}

<main class="main__container">

    <h2>Disponibilidad Partidos</h2>

    {% comment %} {% include 'oficiales/buttons.html' %} {% endcomment %}
    <section class="btns_container">
        <button type="button" data-target="form1"   class="tab-btn">Mayo/Junio</button>
        <button type="button" data-target="form2"   class="tab-btn">Julio</button>
        <button type="button" data-target="form3"   class="tab-btn">Agosto</button>
        <button type="button" data-target="form4"   class="tab-btn">Septiembre</button>
    </section>


    {% comment %} MAYO / JUNIO START {% endcomment %}
    <section class="game-container">

        <div class="tab-content" id="form1">
            {% include 'oficiales/disp_form1.html' %}
           
        </div>
        {% comment %} MAYO / JUNIO END {% endcomment %}
    
    
    
    
        {% comment %} JULIO START {% endcomment %}
        <div class="tab-content" id="form2">
            {% include 'oficiales/disp_form2.html' %}
        </div>
        {% comment %} JULIO END {% endcomment %}


        {% comment %} AGOSTO START {% endcomment %}
        <div class="tab-content" id="form3">
            {% include 'oficiales/disp_form3.html' %}
        </div>
        {% comment %} AGOSTO END {% endcomment %}
    
    
        {% comment %} SEPTIEMBRE START {% endcomment %}
        <div class="tab-content" id="form4">
            {% include 'oficiales/disp_form4.html' %}
        </div>
        {% comment %} SEPTIEMBRE END {% endcomment %}
    </section>


</main>

{% endblock %}