{% extends 'oficiales/of_main.html' %}

{% load static %}

{% block content %}

<main class="main__container">

    <h2>Disponibilidad Partidos</h2>

    {% comment %} {% include 'oficiales/buttons.html' %} {% endcomment %}
    <section class="btns_container">
        <button type="button" data-target="form1"   class="tab-btn">Mayo/Junio</button>
        <button type="button" data-target="form2"   class="tab-btn">Julio</button>
        <button type="button" data-target="form3"   class="tab-btn">Agosto</button>
        <button type="button" data-target="form4"   class="tab-btn">Septiembre</button>
    </section>


    {% comment %} MAYO / JUNIO START {% endcomment %}
    <section class="game-container">

        <div class="tab-content" id="form1">
            <h3>Mayo / Junio</h3>
            <p>fecha 1 - 20 de Mayo</p>
            <form action="" method="POST" class="disp_form">
                {% csrf_token %}
                {% comment %} {{ form }} {% endcomment %}
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">LEG vs JAB
                        {{form.partido1}}
                        {% comment %} <select name="legjab" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select> {% endcomment %}
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">CRU vs TIB
                        {{form.partido2}}
                        {% comment %} <select name="crutib" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select> {% endcomment %}
                    </label>
                </div>
                <input type="submit" value="Ok"class="disp-btn">
            </form>
            <p>fecha 2 - 03 de Junio</p>
            <form action="" method="POST" class="disp_form">
                {% csrf_token %}
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">JAB vs COR
                        {{form.partido1}}
                        {% comment %} <select name="jabcor" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select> {% endcomment %}
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido -15.30hs</p>
                    <label for="games">LEG vs OSP
                        {{form.partido2}}
                        {% comment %} <select name="legosp" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select> {% endcomment %}
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
            <p>fecha 3 - 10 de Junio</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">OSP vs CRU
                        <select name="ospcru" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">COR vs TIB
                        <select name="cortib" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
            <p>fecha 4 - 24 de Junio</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">TIB vs JAB
                        <select name="tibjab" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">CRU vs LEG
                        <select name="cruleg" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
        </div>
        {% comment %} MAYO / JUNIO END {% endcomment %}
    
    
    
    
        {% comment %} JULIO START {% endcomment %}
        <div class="tab-content" id="form2">
            <h3>Julio</h3>
            <p>fecha 5 - 01 de Julio</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">LEG vs COR
                        <select name="legcor" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">JAB vs OSP
                        <select name="jabosp" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok"class="disp-btn">
            </form>
            <p>fecha 6 - 15 de Julio</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">OSP vs TIB
                        <select name="osptib" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">COR vs CRU
                        <select name="corcru" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
            <p>fecha 7 - 22 de Julio</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">CRU vs JAB
                        <select name="crujab" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">TIB vs LEG
                        <select name="tibleg" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
            <p>fecha 8 - 29 de Julio</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">OSP vs COR
                        <select name="ospcor" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">JAB vs LEG
                        <select name="jableg" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
        </div>
        {% comment %} JULIO END {% endcomment %}


        {% comment %} AGOSTO START {% endcomment %}
        <div class="tab-content" id="form3">
            <h3>Agosto</h3>
            <p>fecha 9 - 05 de Agosto</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">TIB vs COR
                        <select name="tibcor" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">OSP vs CRU
                        <select name="ospcru" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok"class="disp-btn">
            </form>
            <p>fecha 10 - 12 de Agosto</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">LEG vs CRU
                        <select name="legcru" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">JAB vs TIB
                        <select name="jabtib" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
            <p>fecha 11 - 19 de Agosto</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">OSP vs LEG
                        <select name="ospleg" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">COR vs JAB
                        <select name="corjab" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
            <p>fecha 12 - 26 de Agosto</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">CRU vs COR
                        <select name="crucor" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">TIB vs OSP
                        <select name="tibosp" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
        </div>
        {% comment %} AGOSTO END {% endcomment %}
    
    
        {% comment %} SEPTIEMBRE START {% endcomment %}
        <div class="tab-content" id="form4">
            <h3>Septiembre</h3>
            {% comment %} {% include 'oficiales/disp_form4' %} {% endcomment %}
            <p>fecha 13 - 02 de Septiembre</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">LEG vs TIB
                        <select name="legtib" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">JAB vs CRU
                        <select name="jabcru" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok"class="disp-btn">
            </form>
            <p>fecha 14 - 09 de Septiembre</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">OSP vs JAB
                        <select name="ospjab" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">COR vs LEG
                        <select name="corleg" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
            <p>fecha 15 - 16 de Septiembre</p>
            <form action="" method="POST" class="disp_form">
                <div class="disp_form-games">
                    <p>1er partido - 13hs</p>
                    <label for="games">TIB vs CRU
                        <select name="tibcru" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <div class="disp_form-games">
                    <p>2do partido - 15.30hs</p>
                    <label for="games">COR vs OSP
                        <select name="corosp" id="">
                            <option value="Yes">Si</option>
                            <option value="No">No</option>
                        </select>
                    </label>
                </div>
                <input type="submit" value="Ok" class="disp-btn">
            </form>
        </div>
        {% comment %} SEPTIEMBRE END {% endcomment %}
    </section>


</main>

{% endblock %}