{% extends 'oficiales/of_main.html' %}

{% load static%}

{% block content %}

{% comment %} {% include 'oficiales/status.html' %} {% endcomment %}

<main class="dashboard-container">

    {% comment %} INICIO - TABLA DISPONIBILIDAD OFICIALES {% endcomment %}

    <section class="oficial_cards">
        <div class="cards ">
            <div class="card-header fCard">
                <h5 class="co-title">Oficiales disponibles</h5>
            </div>
            <div class="card-body fbc">

                <h5 class="co-title">1er: </h5>
                <h5 class="co-title">{{available1}}</h5>
                <h5 class="co-title">2do: </h5>
                <h5 class="co-title">{{available2}}</h5>
            </div>
        </div>
        <div class="cards ">
            <div class="card-header fCard">
                <h5 class="co-title">Oficiales No disponibles</h5>
            </div>
            <div class="card-body fbc">
                <h5 class="co-title">1er: </h5>
                <h5 class="co-title">{{not_available1}}</h5>
                <h5 class="co-title">2do: </h5>
                <h5 class="co-title">{{not_available2}}</h5>
            </div>
        </div>
    </section>
    <section class="of_container">
        
        <h5 class="of_title">Oficiales</h5>
        <div class="table_container">
           
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Oficiales</th>
                        <th>Horario</th>
                        <th>Disponible</th>
                        <th>Horario</th>
                        <th>Disponible</th>
                        <th>Informado</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>

                {% for i in availability %}

                    <tbody>
                        <tr>
                            <td data-title=""><a href="{% url 'officials' pk=i.oficial.id %}">ver</a></td>
                            <td data-title="Oficiales">{{i.oficial}}</td>
                            <td data-title="Horario">{{i.first_game}}</td>
                            <td data-title="Disponible">{{i.partido1}}</td>
                            <td data-title="Horario">{{i.second_game}}</td>
                            <td data-title="Disponible">{{i.partido2}}</td>
                            <td data-title="Informado">{{i.date_informed}}</td>
                            {% comment %} <td><a class="btn btn-info" href="">Update</a></td> {% endcomment %}
                            <td data-title="Editar">
                                <a class="btn btn-info" href="{% url 'update_available' pk=i.id %}" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                            {% comment %} <td><a class="btn btn-danger" href="">Delete</a></td> {% endcomment %}
                            <td data-title="Borrar">
                                <a class="btn btn-danger" href="{% url 'delete_available' pk=i.id %}" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    </tbody>
                
                    {% endfor %}
            </table>
        </div>

        {% comment %} FIN - TABLA DISPONIBILIDAD OFICIALES {% endcomment %}

    </section>


    {% comment %} INICIO - TABLA INSCRIPTOS AL CURSO DE OFICIALES {% endcomment %}
    <div class="cards ">
        <div class="card-header sCard">
            <h5 class="co-title">Total Inscriptos</h5>
        </div>
        <div class="card-body sbc">
            <h5 class="co-title">{{total_newRecruits}}</h5>
        </div>
    </div>

    <section class="insc_container">
        <h5 class="insc_title">Inscriptos</h5>
        <div class="orders-section">
            {% comment %} <a href="{% url 'create_order' %}"><button type="button"   class="co-btn">Create Orders</button><a> {% endcomment %}
            {% comment %} <a href="{% url 'create_order' %}" class="co-btn">Create Orders</a> {% endcomment %}
            <table class="dash_table">
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Reglas</th>
                    <th>Entendimiento</th>
                    <th>Conocimiento</th>
                </tr>

                {% for recruits in newRecruits %}

                <tr>
                    <td>{{recruits.name}}</td>
                    <td>{{recruits.email}}</td>
                    <td>{{recruits.rules}}</td>
                    <td>{{recruits.game}}</td>
                    <td>{{recruits.rules_knowledge}}</td>
                </tr>

                {% endfor %}
                
            </table>
        </div>

        {% comment %} FIN - TABLA INSCRIPTOS AL CURSO DE OFICIALES {% endcomment %}

    </section>


</main>


{% endblock %}