{% extends 'oficiales/of_main.html' %}

{% load static%}

{% block content %}

<main class="dashboard-container">

    <section class="customers">
        <h5 class="acc-title">Customers:</h5>
        <div class="customers-section">
            <a href="#"><button type="button"   class="co-btn">Create Customers</button></a>
            {% comment %} <a href="#"   class="co-btn">Create Customers</a> {% endcomment %}
            <table class="co-table">
                <tr>
                    <th></th>
                    <th>Customers</th>
                    <th>Orders</th>
                </tr>

                {% for customer in customers %}
                    <tr>
                        <td><a href="{% url 'customers' customer.id %}" class="btn">View</a></td>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.phone }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </section>


    <section class="orders">
        <h5 class="acc-title">last 5 orders:</h5>
        <div class="orders-section">
            {% comment %} <a href="{% url 'create_order' %}"><button type="button"   class="co-btn">Create Orders</button><a> {% endcomment %}
            {% comment %} <a href="{% url 'create_order' %}" class="co-btn">Create Orders</a> {% endcomment %}
            <table class="co-table">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>

                {% for order in orders %}
                    <tr>
                        <td>{{ order.product }}</td>
                        <td>{{ order.date_created }}</td>
                        <td>{{ order.status }}</td>
                        <td><a class="btn btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
                        <td><a class="btn btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>


</main>


{% endblock %}