{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO Meta -->
    <meta name="description" content="Página de inscripción para el curso de Oficiales de Football Americano Argentina">
    <meta name="keywords" content="Argentina, Football, Americano, NFL, NCAA, Flag, Oficiales, Referee, arbitro">
    <meta name="author" content="Galasso, Ignacio">
    <!-- Meta for TWITTER and OPEN GRAPH -->
    <meta property="og-title" content="Oficiales FABA (Faarg)" />
    <meta property="og-type" content="website" />
    <meta property="og-url" content="" />
    <meta property="og-image" content="" />
    <meta property="og-description" content="Página de inscripción para el curso de Oficiales de Football Americano Argentina" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@galasso22">
    <meta name="twitter:title" content="Oficiales FABA (Faarg)" />
    <meta name="twitter:description" content="Página de inscripción para el curso de Oficiales de Football Americano    Argentina" />
    <meta name="twitter:image" content="" />
    <!-- STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'oficiales/css/style.css' %}">
    <!-- ICONS -->
    <link rel="shortcut icon" href="{% static 'oficiales/images/icons/48px_icon.png' %}" type="image/png">
    <link rel="apple-touch-icon" href="{% static 'oficiales/images/icons/48px_icon.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'oficiales/images/icons/48px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="16x16" href="{% static 'oficiales/images/icons/16px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="32x32" href="{% static 'oficiales/images/icons/32px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="64x64" href="{% static 'oficiales/images/icons/64px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="128x128" href="{% static 'oficiales/images/icons/128px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'oficiales/images/icons/144px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="192x192" href="{% static 'oficiales/images/icons/192px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="256x256" href="{% static 'oficiales/images/icons/256px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="512x512" href="{% static 'oficiales/images/icons/512px_icon.png' %}">
    <link rel="apple-touch-icon" sizes="1024x1024" href="{% static 'oficiales/images/icons/1024px_icon.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'oficiales/images/icons/192px_icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'oficiales/images/icons/32px_icon.png' %}">
    <link rel="icon" type="image/png" sizes="128x128" href="{% static 'oficiales/images/icons/128px_icon.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'oficiales/images/icons/16px_icon.png' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'oficiales/images/icons/144px_icon.png' %}">
    <script src="https://kit.fontawesome.com/ef268928f6.js" crossorigin="anonymous"></script>
    <title>Oficiales Faarg</title>
</head>
<body>
    {% comment %}  HEADER / NAVBAR START {% endcomment %}
    {% include 'oficiales/navbar.html' %}

    {% comment %} PAGE CONTENT START {% endcomment %}
    {% block content %}

    <main class="container">

        <!-- PHOTO SLIDE START -->
        <section class="slide-container">
          
          <div class="loader"></div>
          <figure class="slider box show">
            <img class="slide" src="{% static 'oficiales/images/oficials4.webp' %}" alt="Imagen_oficiales1">
          </figure>
          <figure class="hidden slider box">
            <img class="slide" src="{% static 'oficiales/images/oficials2.webp' %}" alt="Imagen_oficiales2">
          </figure>
          <figure class="hidden slider box">
            <img class="slide" src="{% static 'oficiales/images/oficials.webp' %}" alt="Imagen_oficiales3">
          </figure>
          
      </section>
      <!-- PHOTO SLIDE END -->
    
      <!-- INFORMATION START -->
      <section class="accordion__info-container">
        <button class="accordion__info-bar" id="slide-1">Sobre Nosotros</button>
        <div class="info-bar-panel">
          <p>Somos el cuerpo arbitral de Football Americano Argentina, cubrimos las competiciones de Football Tackle y de Flag Football de FABA (Football Americano Buenos Aires), a jugarse entre los meses de Marzo a Noviembre. Utilizamos los reglamentos de IFAF, puedes descargar la última actualización en los siguientes enlaces:
          </p>
          {% comment %} <div class="rulebook-links">
            <a href="{% static 'oficiales/files/FlagRules2021.pdf' %}" class="rulebook" title="Descargar Flag Football" download>Flag Football <i class="fa-regular fa-file-pdf"></i></a>
            <a href="{% static 'oficiales/files/ifafrules2023.pdf' %}" class="rulebook" title="Descargar Football Tackle" download>Football Tackle <i class="fa-regular fa-file-pdf"></i></a>
          </div> {% endcomment %}
        </div>
        <button class="accordion__info-bar" id="slide-2">Torneos y Equipos</button>
        <div class="info-bar-panel">
          <p>La competición anual se compone de: </p>
            <ul>
                <li class="panel-item">
                  2 Torneos de Flag Mayores
                </li>
                <li class="panel-item">
                  1 Torneo de Tackle Mayores.
                </li>
                <li class="panel-item">
                  El Torneo de FABA se compone de 6 equipos: Corsarios, Cruzados, Jabalies, Legionarios, Osos Polares y Tiburones.
                </li>
                <li class="panel-item">
                  Las tazonizas, partidos entre los seleccionados de Buenos Aires, Córdoba y Rosario.
                </li>
            </ul>
         
        </div>
        <button class="accordion__info-bar" id="slide-3">Inscripción</button>
        <div class="info-bar-panel">
          <p>Si estás interesado en formar parte del cuerpo arbitral te invitamos a realizar el curso de oficiales, dale click al enlace de abajo y completa el formulario de inscripción:</p>
          <a href="{% url 'inscForm' %}" target="_blank" rel="noreferrer noopener" title="Ir al formulario de inscripción" class="form-link"> -> Formulario Inscripción <- </a>
        </div>
    
      </section>
      <!-- INFORMATION END -->
    
      </main>
    
      <!-- MAIN END -->

    


    {% endblock %}

    {% comment %} FOOTER {% endcomment %}
    {% include 'oficiales/footer.html' %}

    <script type="text/javascript" src="{% static 'oficiales/js/scripts.js' %}"></script>
</body>
</html>