{% extends 'oficiales/of_main.html' %}

{% load static %}

{% block content %}

<section class="main__container">
    <h5>Inscriptos</h5>
    <div class="table_container">
        <table class="table">
            <caption>Nuevos Inscriptos</caption>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Edad</th>
                    <th>Redes Sociales</th>
                    <th>Reglas</th>
                    <th>Entendimiento del Juego</th>
                    <th>Conocimiento del Juego</th>
                    <th>Comentarios</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}