{% extends 'oficiales/of_main.html' %}

{% load static %}

{% block content %}

<main class="main__container">


    <a class="btn" href="{% url 'available' oficial.id %}">Ir a disponibilidad</a>
    <section class="oficial_cards">
        <div class="cards ">
            <div class="card-header fCard">
                <h5 class="co-title">Total SI</h5>
            </div>
            <div class="card-body fbc">
                <h5 class="co-title">{{total_si}}</h5>
            </div>
        </div>
        <div class="cards ">
            <div class="card-header fCard">
                <h5 class="co-title">Total NO</h5>
            </div>
            <div class="card-body fbc">
                <h5 class="co-title">{{total_no}}</h5>
            </div>
        </div>
    </section>

    <section class="">
        <h3>Partidos</h3>
        <div class="table_container">
            <table class="desig_table">
                <caption>Disponibilidad Confirmada</caption>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Horario</th>
                        <th>Status</th>
                        <th>Horario</th>
                        <th>Status</th>
                        <th>Día informado</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td>{{game.oficial}}</td>
                        <td>{{calendar.0}}</td>
                        <td>{{game.first_game}}</td>
                        <td>{{game.partido1}}</td>
                        <td>{{game.second_game}}</td>
                        <td>{{game.partido2}}</td>
                        <td>{{game.date_informed}}</td>
                        <td>
                            <a class="btn btn-info" href="{% url 'update_available' oficial.id %}" title="Editar"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'delete_available' oficial.id %}" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>
                        </td> 
                        {% comment %} <td>
                            <a class="btn btn-info" href=""  title="Edit"><i class="fa-solid fa-pen-to-square"></i></a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="" title="Eliminar"><i class="fa-solid fa-trash-can"></i></a>
                        </td>  {% endcomment %}
                        
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>


    </section>


</main>

{% endblock %}