{% extends 'oficiales/of_main.html' %}

{% load static %}

{% block content %}

<main class="dashboard-container">
    <div class="pic-container">
        <a class="btn" href="">&#8592; Back to profile</a>
        <h3 class="acc-title">Account Settings</h3>
        <img class="profile-image" src="{{request.user.oficiales.profile_pic.url}}"> 
    </div>

    <div class="form-container">
        {% comment %} Con multipart/form-data le indicamos que vamos a traer la info del usuario {% endcomment %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update" class="">
        </form>
    </div>

</main>


{% endblock %}