<section class="status-cards">

    <div class="cards ">
        <div class="card-header fCard">
            <h5 class="co-title">Oficiales disponibles</h5>
        </div>
        <div class="card-body fbc">
            <h5 class="co-title"></h5>
        </div>
    </div>

    <div class="cards ">
        <div class="card-header sCard">
            <h5 class="co-title">Total Inscriptos</h5>
        </div>
        <div class="card-body sbc">
            <h5 class="co-title">{{delivered}}</h5>
        </div>
    </div>

</section>